<nav class="navbar fixed-bottom" id="footer">
  <div class="fluid-container" style="width: 100%;">
    <div class="social-links">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="https://twitter.com/itstommymorgan" target="_blank" rel="noopener" title="itstommymorgan on Twitter">
            <%= partial "twitter_svg" %>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://gitlab.com/tommy.morgan" target="_blank" rel="noopener" title="tommy.morgan on GitLab">
            <%= partial "gitlab_svg" %>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://linkedin.com/in/tommy-morgan" target="_blank" rel="noopener" title="Tommy Morgan on LinkedIn">
            <%= partial "linkedin_svg" %>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://github.com/wellbredgrapefruit" target="_blank" rel="noopener" title="Wellbredgrapefruit on GitHub">
            <%= partial "github_svg" %>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="mailto:tommy@tommymorgan.name" target="_blank" rel="noopener" title="Email Tommy Morgan">
            <%= partial "email_svg" %>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://calendly.com/tommy-morgan" target="_blank" rel="noopener" title="Tommy Morgan on Calendly">
            <%= partial "calendar_svg" %>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
