---
title: My Slack Statuses
identifier: slack
---

<h1 class="display-3">My Slack Statuses</h1>

<p>I like to make fun (or sometimes just weird) references with my slack statuses. I get asked about them a lot. So I thought I'd publish them!</p>

<% data.slack_statuses.each do |status| %>
  <div>
    <div class="date"><%= status.date %></div>
    <% if status.emoji && (status.emoji.length > 5) %>
      <img class="emoji" src="<%= status.emoji %>"/>
    <% else %>
      <%= status.emoji %>
    <% end %>
    <%= status.text %>
    <div class="slack-status-source">
      <% if status.link %>
        <a href="<%= status.link %>" target="_blank">
          <%= status.source %>
        </a>
      <% else %>
        <%= status.source %>
      <% end %>
    </div>
  </div>
<% end %>
