---
title: My Slack Statuses
identifier: slack
---

<h1 class="display-3">My Slack Statuses</h1>

<p>I like to make fun (or sometimes just weird) references with my slack statuses. I get asked about them a lot. So I thought I'd publish them!</p>

<% years = data.slack_statuses.map { |status| status.date.year }.uniq %>
<ul>
  <% years.each do |y| %>
    <% if y == year %>
      <li><strong><%= y %></strong></li>
    <% else %>
      <li><a href="/slack-statuses/<%= y %>"><%= y %></a></li>
    <% end %>
  <% end %>
</ul>

<% data.slack_statuses.select { |status| status.date.year == year }.each do |status| %>
  <div>
    <div class="date"><%= status.date %></div>
    <% if status.emoji && (status.emoji.length > 5) %>
      <img class="emoji" src="<%= status.emoji %>"/>
    <% else %>
      <%= status.emoji %>
    <% end %>
    <%= status.text %>
    <div class="slack-status-source">
      <% if status.link %>
        <a href="<%= status.link %>" target="_blank">
          <%= status.source %>
        </a>
      <% else %>
        <%= status.source %>
      <% end %>
    </div>
  </div>
<% end %>
